.waf-config {
  .form-label {
    font-size: 14px;
    font-weight: 400;
    color: #3e4653;
    line-height: 20px;
  }

  .form-label-tips {
    font-size: 12px;
    font-weight: 400;
    color: #8e97a3;
    line-height: 20px;
  }
}
