.tz-pagination-other {
  .pagination-prev {
    transform: rotate(90deg);
  }

  .pagination-next {
    transform: rotate(-90deg);
  }

  .pagination-next,
  .pagination-prev {
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 12px;
    opacity: 1;

    &:hover {
      box-shadow: 0 1px 12px 0 rgb(144 168 205 / 25%);
    }
  }
}
