.victor-select {
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  padding: 6px 12px;
  color: #313c4f;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #c5d0db;
  border-radius: 4px;
  transition: all linear 300ms;

  &::after {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border: 5px solid #92979e;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transition: all linear 300ms;
    content: '';
  }

  .v_select_display {
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .v_select_options {
    position: absolute;
    left: 0;
    z-index: 10;

    // bottom: -10px;
    width: 240px;
    background: #fff;
    box-shadow: 0 8px 24px 0 rgb(0 0 0 / 10%);
    border-radius: 8px;
    border: 1px solid #e9ebee;
    padding: 8px;

    .v_select_option_item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 32px;
      padding: 6px 16px;
      cursor: pointer;

      &:hover {
        background: rgb(33 119 209 / 10%);
        border-radius: 4px;
      }

      &.active {
        background: rgb(33 119 209 / 10%);
      }
    }
  }

  &.dir_bottom {
    .v_select_options {
      bottom: 0;
      margin-bottom: -10px;
      transform: scaleY(0) translateY(200%);
    }
  }

  &.dir_top {
    .v_select_options {
      top: 0;
      margin-top: -10px;
      transform: scaleY(0) translateY(-200%);
    }
  }

  &.fixed {
    .v_select_options {
      position: fixed !important;
      top: 50%;
      bottom: unset;
      left: 50%;
      z-index: 10;
      width: 0;
      transform: scaleY(0);
      transform-origin: center;
    }
  }

  &.focus {
    border-color: #2aa4f5;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);

    &::after {
      margin-top: -8px;
      border-top-color: transparent;
      border-bottom-color: #92979e;
    }

    .v_select_options {
      opacity: 1;
    }

    &.dir_bottom {
      .v_select_options {
        transform: scaleY(1) translateY(100%);
      }
    }

    &.dir_top {
      .v_select_options {
        transform: scaleY(1) translateY(-100%);
      }
    }
  }
}
