node_modules/
**/node_modules
build
stats.html
.DS_Store
.idea
# .vscode/settings.json
.eslintcache
.env.production
# .env.development
cypress/screenshots
debug.log
/config/setupProxy.js
src/setupProxy.js
.husky/commit-msg
# .husky/pre-commit
npm-debug.log*
yarn-error.log
*.log
logs
/dist
.vs
.history
.vscode/launch.json
