.report-radio-Group {
  width: 100%;

  .ant-radio-wrapper {
    color: #676e79;
    width: 22%;
    margin-right: 0;
  }
}

.report-checkbox-range {
  width: 100%;

  .ant-checkbox-group-item {
    width: 45%;
    margin-right: 0;
  }
}

.report-Group {
  width: 100%;

  .ant-checkbox-group-item {
    margin-top: 6px;
  }
}
