.zoom-case {
  display: flex;
  align-items: center;
  padding: 6px;
  float: left;
  justify-content: space-around;
  border-radius: 30px;
  background: #f0f2f5;

  i {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    color: #6c7480;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
  }

  .cont-case {
    width: 120px;
    border-radius: 24px;
    background: #fff;
  }

  .ant-slider {
    margin: 6px 12px;

    .ant-slider-handle {
      border-color: #6c7480;
      background-color: #6c7480;
    }

    .ant-slider-track {
      background-color: #6c7480;
    }
  }

  .slider-btn {
    width: 24px;
    height: 24px;
    margin: 0 6px;
    background: #fff;
    color: #6c7480;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }

  .slider-btn-add {
    margin-right: 0;
  }
}
