.tz-anchor-wrapper {
  margin-left: 32px;
  padding-top: 8px;
  border-left: 1px solid #f4f6fa;
  margin-right: -32px;

  &.hidden {
    width: 0;

    .tz-anchor {
      width: 0;
    }

    .tz-anchor-tip {
      width: 38px;
      padding: 0;
      border-radius: 20px 0 0 20px;
      box-shadow: 0 2px 16px 0 rgb(144 168 205 / 25%);
      padding-left: 10px;

      span {
        width: 0;
        margin-left: 5px;
      }

      .icon-arrow-double {
        transform: rotate(90deg);
        margin-right: 4px;
      }
    }
  }

  .tz-anchor-tip {
    transition: width 0.4s;
    position: fixed;
    width: 138px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3e4653;
    font-weight: 500;
    height: 40px;
    right: 0;
    background: #fff;
    text-wrap: nowrap;

    span {
      margin-left: 20px;
      transition: all 0.2s;
      flex: 1;
      display: inline-block;
      overflow: hidden;
    }

    .icon-arrow-double {
      cursor: pointer;
      transition: all 0.5s;
      width: 20px;
      height: 20px;
      font-size: 18px;
      margin-right: 4px;
      color: #b3bac6;
      transform: rotate(-90deg);
      border-radius: 4px;

      &:hover {
        background-color: rgb(33 119 209 / 5%);
        color: #2177d1;
      }
    }
  }

  .tz-anchor {
    transition: width 0.5s;
    width: 138px;
    background-color: #fff;
    margin-left: 0;
    padding-left: 0;

    &.no-anchor-ink .ant-anchor-ink {
      display: none;
    }

    .ant-anchor-link-title {
      display: inline-flex;
      width: 100%;
    }

    .ant-anchor-link {
      padding: 0;
      padding-left: 20px;
      padding-right: 16px;
      height: 40px;
      line-height: 40px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;

      &:hover {
        color: #2177d1;
      }
    }

    .ant-anchor-link-active {
      position: relative;
      background: rgb(33 119 209 / 5%);
      font-weight: 550;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -2px;
        bottom: 0;
        border-left: 3px solid #2177d1;
      }
    }
  }

  &.hasMessage {
    width: 100%;
    border: none;

    .ant-anchor {
      padding: 0;
    }

    .ant-anchor-link-active::after {
      border: none;
    }
  }
}
