.data-management {
    color: #8e97a3;

    .data-item-tit {
        margin-bottom: 12px;
    }

    .data-item {
        padding: 12px 0;
        margin: 0;
    }

    .sub-txt {
        font-size: 12px;
        color: #8e97a3;
        line-height: 20px;
    }

    .data-item-edit {
        margin-bottom: 0;

        &.read {
            .ant-form-item-control {
                flex-basis: auto;
            }
        }
    }

    .ant-form-item-row {
        justify-content: space-between;
        align-items: center;
    }

    .ant-form-item-label {
        padding: 3px 0;
    }

    .ant-form-item-control {
        flex: none;
        flex-basis: 140px;
    }

    .setting-tip {
        margin: 4px 0;
    }

    .used-data {
        display: flex;
        justify-content: space-between;
        margin: 8px 0;
        height: 36px;

        .used-data-txt {
            display: flex;
        }

        .used-data-bar {
            height: 20px;
            line-height: 20px;
            font-weight: 400;
            flex: 1;

            .ant-progress-inner {
                background-color: #f5f5f5;
            }

            .ant-progress-status-normal .ant-progress-bg {
                background: linear-gradient(90deg, #2177d1 0%, #2d94ff 100%);
            }

            .ant-progress-status-success .ant-progress-bg {
                background-color: #e95454;
            }
        }

        .used-data-opr {
            margin-left: 24px;
        }
    }
}