.webhook-sc {
  max-height: calc(100vh - 270px);
  overflow-y: auto;

  h1 {
    font-size: 22px;
    color: #1f2329;
    font-weight: 600;
  }

  h2 {
    color: #1f2329;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  p {
    text-indent: 20px;
  }

  code {
    min-height: 76px;
    padding: 24px 20px;
    background: #f5f6f7;
    margin: 16px 0;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    border-radius: 8px;
  }
}

.alert-block-checkbox {
  label:first-child {
    margin-right: 40px;
  }
}
