.layout-case {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-width: 800px;
  height: 100vh;
  padding: 156px 180px 64px;
  overflow: hidden;

  .logo {
    position: absolute;
    top: 40px;
    left: 200px;
    width: 363px;
    height: 86px;
  }

  .users-case {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;

    .ant-form-item {
      margin-bottom: 24px;
    }

    .stepGroup {
      flex: none;
      max-width: 800px;
      margin: 100px auto 20px;
    }

    .TZ-toast {
      max-width: 700px;
      margin: 0 auto;
    }

    .forget-pwd-email {
      .code-row {
        margin-bottom: 0;

        .ant-form-item-control-input-content {
          display: flex;
          justify-content: space-around;

          .code-input {
            width: 267px;
          }

          .imgCode {
            flex: 1;
            color: #6c7480;
            margin-left: 8px;
            height: 36px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .tab-case {
      width: 380px;
      position: relative;
      display: flex;
      flex: none;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 80px;

      .tz-form {
        width: 100%;
      }
    }
  }
}

.resetOK-case {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60px;

  img {
    width: 72px;
    height: 72px;
    margin-bottom: 26px;
  }

  .title {
    color: rgb(0 0 0 / 85%);
    font-weight: 550;
    font-size: 24px;
  }

  .content {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #a3afc8;
    font-weight: 400;
    font-size: 14px;
  }

  .clock {
    display: inline-block;
    color: #00a0f5;
  }

  .linkLoginBtn {
    height: 32px;
    margin: 0;
    padding: 6px 24px;
    background: linear-gradient(90deg, #3ac2f0 0%, #2aa4f5 100%);
    border-radius: 4px;

    &:hover {
      background: #2aa4f5;
    }
  }
}
