.multi-cluster-case {
  background-color: #fff;

  .editBtn {
    color: #2177d1;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
  }

  .tz-filter {
    position: fixed;
    top: 20px;
    right: 32px;
    z-index: 9999;
  }

  .tz-filter-form {
    margin-top: -4px;
  }
}

.new-cluster-dialog {
  padding-left: 8px;

  .options-case {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 16px;

    .txt-left {
      width: 140px;
      flex: none;
      margin-right: 12px;
      white-space: nowrap;
      text-align: left;
      font-family: 'PingFangSC-Regular, PingFang SC';
      color: #6c7480;
      line-height: 22px;
    }
  }

  .edit-case {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;

    .txt-left {
      width: 100%;
      min-width: 40px;
      max-width: 100px;
      margin-right: 12px;
      white-space: nowrap;
      text-align: left;
    }
  }

  .tz-selection {
    width: 100%;
  }

  .ant-select-selection-placeholder {
    height: 20px;
    font-size: 14px;
    font-family: 'PingFangSC-Regular, PingFang SC';
    font-weight: 400;
    color: #dfe1e6;
    line-height: 20px;
  }
}

.title-container {
  .cluster-drawer-tit {
    .title {
      font-size: 20px;
      font-weight: 600;
      color: #1e222a;
    }

    .btn-cancel,
    .btn-submit {
      height: 36px;
      border-radius: 8px;
      background: #fff;
      border: 1px solid #dfe1e6;
    }

    .ant-btn {
      min-width: 80px;
    }

    .btn-cancel {
      color: #b3bac6;
    }

    .btn-submit {
      color: #2177d1;
      margin-right: 20px;
    }
  }
}
