.deflectDefense,
.dd-detail,
.dd-baseInfo {
  .ib {
    display: inline-block;
  }

  .mw200 {
    max-width: 200px;
  }

  .statusEnabled {
    border-radius: 4px;
    background: rgb(33 119 209 / 10%);
    color: #2177d1;
    padding: 4px 8px;
  }

  .statusDisabled {
    border-radius: 4px;
    background: rgb(96 114 143 / 10%);
    color: #8e97a3;
    padding: 4px 8px;
  }

  .blockUpMode {
    border-radius: 6px;
    background: rgb(233 84 84 / 15%);
    color: #e95454;
    padding: 4px 12px;
    text-align: center;
    min-width: 58px;
  }

  .alertMode {
    border-radius: 6px;
    background: rgb(255 196 35 / 15%);
    color: #ffc423;
    padding: 4px 12px;
    text-align: center;
    min-width: 58px;
  }
}

.dd-baseInfo {
  tr {
    height: 48px;
  }

  td:last-of-type {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }

  td:nth-last-of-type(3) {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

.dd-list table th:last-of-type {
  padding-right: 20px;
}

.dd-list {
  margin-top: 12px;
}

.segmentContainer {
  height: 36px;
  border-radius: 8px;
  padding: 4px !important;
  background: #f3f5f8;
  cursor: pointer;
}

.segmentAlert {
  background: #ffc423;
  border-radius: 4px;
  color: #fff;
  min-width: 52px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.segmentBlockUp {
  background: #e95454;
  border-radius: 4px;
  color: #fff;
  min-width: 52px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.segmentOptionDefault {
  color: #676e79;
  min-width: 52px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fb {
  display: flex;
  justify-content: space-between;
}

.detail-title {
  color: #1e222a;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 28px;
}

.delete-btn {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  color: #e95454;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    background: rgb(233 84 84 / 5%);
    color: #e95454;
  }
}

.exception-rec {
  font-weight: 550;
  line-height: 22px;
  color: #3e4653;
  font-size: 14px;
}

.dd-detail-translate {
  transform: translateX(-180px);
}

.dd-detail-transition {
  transition: transform 2s;
}

.visualization-group {
  display: flex;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  height: 320px;
  overflow: hidden;

  .left-case {
    width: 300;
    flex: none;

    .ant-card-head {
      padding: 0;
    }

    .showTool {
      color: #b3bac6;
      margin-left: 0;
      font-weight: 200;
      cursor: pointer;
    }
  }

  .right-case {
    flex: 1;
    display: flex;
    flex-flow: column;

    .ant-card-body {
      flex: 1;

      // border-left: 1px solid #eff0f2;
      margin-bottom: 32px;
      padding-right: 0;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 14px;
        width: 1px;
        height: 196px;
        background: #eff0f2;
      }
    }
  }

  .left-case,
  .right-case {
    flex: 1;

    .ant-card-head {
      min-height: 40px;
    }

    .ant-card-body {
      padding-top: 0;
      padding-bottom: 0;
    }

    .ant-card-head-title {
      padding-top: 0;
    }
  }
}

.visualization-group {
  .fq-center-group {
    position: absolute;
    background: rgba($color: #fff, $alpha: 0%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transform: translate(-50%, -50%);

    &.white {
      .txt-case,
      .num-case {
        color: #fff;
      }
    }

    .txt-case {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #8e97a3;
    }

    .num-case {
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      color: #3e4653;
    }
  }
}

.deflect-defense-toolbar {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}
