.pod-detail-head-case {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #1e222a;
  background: #fff;
  z-index: 100;

  .container-tag {
    padding: 2px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    border-radius: 13px;
    margin-right: 12px;
    color: #fefefe;
    background: #212e4e;
  }
}

.graph-pod-detail {
  box-sizing: border-box;
  margin: 0 10%;
}

@media screen and (width <= 1440px) {
  .graph-pod-detail {
    box-sizing: border-box;
    margin: 0 32px;
  }
}
