.ts-draw-att_ck {
  .alarm-config-select {
    width: 80%;
  }

  .warn-severity-select {
    width: 100px;
  }
}

.rule-title {
  margin-top: 24px;
  margin-bottom: 12px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  font-family: 'PingFangSC-Semibold, PingFang SC';
  color: #3e4653;
}
