@import '../MultiClusterRiskExplorerGraphDetails';
@import '../../../components/AssetModule/TopActionBar';

.asset-discovery-info {
  margin-top: 20px;

  .top-action-case .left-tit-case .blockTag {
    background: #2177d1;
    color: #fefefe;
  }

  .details-info-case {
    background: #fff;
    height: 100%;
  }

  .discovery-info {
    padding: 32px 32px 20px;

    .subtitle {
      color: #151b26;
      font-weight: 550;
      font-size: 16px;
    }
  }
}

.AssetDiscoveryInfo-wrapper-div {
  padding-bottom: 30px;
  position: relative;
  transition: all 1s;

  .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}
