.ts-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 360px;

  .title {
    color: #151b26;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
  }

  &-inner {
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    min-width: 270px;
    height: 32px;
    padding: 2px 12px;
    color: #151b26;
    font-weight: 400;
    font-size: 14px;
    background: #f0f3f7;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all linear 300ms;
  }

  &-input-x {
    position: absolute;
    right: 12px;
    height: auto;
    text-align: center;
    cursor: pointer;

    img {
      width: 12px;
      height: 12px;
    }
  }
}
