.progressH10 {
    .ant-progress-inner {
        border-radius: 3px;
    }

    .ant-progress-bg {
        height: 10px !important;
        border-radius: 3px;
    }
}

.mark-progress {
    .ant-progress-text {
        color: #2177d1;
    }
}