.palace-filter-p {
  .palace-filter {
    padding: 20px 0 22px;
    overflow: hidden;
  }

  .ant-divider-inner-text {
    padding: 0;
  }
}

.log-list-case,
.deflect-defense {
  .palace-filter-p {
    margin-top: -18px;
  }
}
