.tz-date-picker.tz-selection.h34 {
  height: 36px;

  div.dfc {
    height: 36px;

    .anticon.anticon-swap-right {
      width: 1px;
      line-height: 20px !important;
      background: rgb(223 225 230 / 100%);
    }
  }
}

.tz-date-picker {
  .tz-date-picker {
    height: 36px;

    .ant-picker {
      height: 36px;
    }
  }
}

.tz-picker-dropdown-range {
  padding: 4px 0;
}
