.error-marker {
  position: absolute;
  background: #fff9c5;
}

.ace-chrome {
  background: transparent;
}

.ace_hidden-cursors {
  opacity: 0;
}

.ace_editor {
  background: rgb(244 246 250 / 100%);
}

.ace-tm {
  background-color: transparent;
}
