.switch-changer {
  padding: 4px;
  background: #f4f6fa;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;

  .switch-item {
    cursor: pointer;
    padding: 3px 12px;
    color: #6c7480;
  }

  .switch-active {
    background: #fff;
    border-radius: 6px;
    padding: 3px 12px;
    color: #2177d1;
  }
}
